
@if(pokemon){
  <div class="pokemon-card-container">
      <div class="pokemon-card" (click)="playSound(pokemon?.cries?.latest)" style="cursor: pointer;" title="Reproducir sonido">
          <h1 class="name">{{ pokemon?.species?.name || 'Nombre no disponible' }}</h1>

          <!-- Mostrar la imagen actual -->
          <img [src]="pokemonImagenActual" alt="Imagen de animación" height="150" width="150">

          <h2 class="types">Tipos:</h2>
          <ul>
            <li *ngFor="let type of pokemon?.types.slice(0,2)">
              {{ type?.type?.name }}
            </li>
          </ul>
          <h2 class="abilities">Habilidades:</h2>
          <ul>
            <li *ngFor="let ability of pokemon?.abilities.slice(0,2)">
              {{ ability?.ability?.name }}
            </li>
          </ul> 
          
        </div>
    </div>
}@else {
  <mat-spinner></mat-spinner>}